<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<!--Cadena de conexión a la base de datos SQL Server de YAGO
	<connectionStrings>
    <add name="EnerGymDB"
         connectionString="Data Source=YAGO_DELL\SQLEXPRESS01;Initial Catalog=EnerGym_BD_V8;Integrated Security=True" 
         providerName="System.Data.SqlClient" /> 
	</connectionStrings>

Aca deberias agregar tu cadena de conexion Fiore   -->

	<connectionStrings>
    <add name="EnerGymDB"
         connectionString="Data Source= alcachofio\SQLEXPRESS;Initial Catalog=EnerGym_BD_V9;Integrated Security=True" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>  
   
</configuration>